@charset "utf-8";
/* CSS Document */

/*body {
	text-align: center;
	font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
	font-weight: 100;
	background: #0B1D64;
	
}

h1{
  color: #95F7FC;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#myclock{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#myclock > div{
  padding: 10px;
  border-radius: 3px;
  background: #92B8F7;
  display: inline-block;
}

#myclock div > span{
  padding: 15px;
  border-radius: 3px;
  background: #95F7FC;
  display: inline-block;
}

.textdisplay{
  padding-top: 5px;
  font-size: 16px;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	text-align: center;
	font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
	font-weight: 100;
	background: #840254;
	
}

h1{
  color: white;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#myclock {
	text-align: center;
	color: palevioletred;
	font-size: 60px;
	margin-top: 0px;
	
  background-color: white;
  width: 400px;
  border: 30px solid white;
  border-radius: 20px;
  padding: 50px;
  margin: 30px;

}

